{% extends "base.html" %}
{% block title %}관리자 로그인{% endblock %}

{% block content %}
    <div class="title">관리자 로그인</div>
    <form method="post" class="name-row">
        <input class="input-box" name="username" placeholder="아이디" required style="min-width: 180px;">
        <input class="input-box" type="password" name="password" placeholder="비밀번호" required style="min-width: 180px;">
        <button class="input-box" style="width: auto;">로그인</button>
    </form>
    {% if error %}
        <div class="message">{{ error }}</div>
    {% endif %}
{% endblock %}
